body{
    background-color: black;
    color: white;
}
.heading
{
    background-color: gray;
    text-align: center;
    border: 1px solid gray;
}
.image
{
    display: flex;
    align-items: center;
}
#username
{
    margin-left: 20px;
}